!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Explorer | The breathtaking road trips
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / Fixed navbar
    %nav.navbar.navbar.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"}
            %span.fa-stack
              %i.fa.fa-map-o.fa-stack-1x
              %i.fa.fa-map-marker.fa-stack-1x
            %span
              EXPLORER
            %span.separater
              &#9474;
          %form.navbar-form.navbar-left.navbar-brand.search-form{role: 'search'}
            .form-group
              %i.fa.fa-search
              %input.form-control

    = yield

    %footer.footer
      .container
        %span
          %h4 CATEGORIES
